{% extends 'base.html' %}

{% block title %}Añadir Paciente{% endblock %}

{% block content %}
<h1 class="mb-4">Añadir Nuevo Paciente</h1>
<form method="post">
    <div class="mb-3">
        <label for="name" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="dob" class="form-label">Fecha de Nacimiento:</label>
        <input type="date" class="form-control" id="dob" name="dob">
    </div>
    <div class="mb-3">
        <label for="gender" class="form-label">Género:</label>
        <select class="form-select" id="gender" name="gender">
            <option value="">Seleccionar</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
            <option value="Otro">Otro</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="address" class="form-label">Dirección:</label>
        <input type="text" class="form-control" id="address" name="address">
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Teléfono:</label>
        <input type="text" class="form-control" id="phone" name="phone">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>
    <button type="submit" class="btn btn-primary">Guardar Paciente</button>
    <a href="{{ url_for('index') }}" class="btn btn-secondary ms-2">Cancelar</a> {# ms-2 añade margen a la izquierda #}
</form>
{% endblock %}