{% extends 'base.html' %}

{% block title %}Lista de Pacientes{% endblock %}

{% block content %}
<h1 class="mb-4">Lista de Pacientes</h1>

<form class="d-flex mb-4" role="search" method="GET">
    <input class="form-control me-2" type="search" placeholder="Buscar paciente por nombre..." aria-label="Search" name="search" value="{{ search_query }}">
    <button class="btn btn-outline-primary" type="submit">Buscar</button>
</form>

<a href="{{ url_for('add_patient') }}" class="btn btn-primary mb-3">Añadir Nuevo Paciente</a>

{% if patients %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Género</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                    <tr>
                        <td>{{ patient.name }}</td>
                        <td>{{ patient.dob }}</td>
                        <td>{{ patient.gender }}</td>
                        <td>{{ patient.phone }}</td>
                        <td>{{ patient.email }}</td>
                        <td>
                            <a href="{{ url_for('patient_details', patient_id=patient.id) }}" class="btn btn-info btn-sm me-1">Ver Detalles</a> {# me-1 añade un pequeño margen a la derecha #}
                            <a href="{{ url_for('edit_patient', patient_id=patient.id) }}" class="btn btn-warning btn-sm me-1">Editar</a>
                            <form action="{{ url_for('delete_patient', patient_id=patient.id) }}" method="POST" class="d-inline">
                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que quieres eliminar a este paciente y todos sus registros médicos?');">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p class="alert alert-info">No hay pacientes registrados aún.</p>
{% endif %}
{% endblock %}